@media screen and (max-width: 640px) {
    .detail {
        font-size: 1.3rem;
    }

    .title {
        font-size: 3rem;
    }

    .guess {
        width: 18rem;
        height: 7rem;
    }

    .right {
        font-size: 1.5rem;
    }
}



@media screen and (max-width: 480px) {
    .btn {
        width: 11rem;
        font-size: 1.4rem;
    }

    .detail {
        font-size: 0.8rem;
    }

    .secret-number {
        margin-bottom: 3.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .main-wrapper {
        flex-direction: column;
    }

    .check {
        margin-bottom: 4rem;
    }

    .message {
        margin-bottom: 8rem;
    }
}